{% extends '::layout.html.twig' %}

{% block body -%}
    <h1>Restaurateur edit</h1>

    {{ form(form,{'attr': {'onsubmit':'verifRestaurateur();'} }) }}
    <div>
        <a href="{{ path('restaurateur') }}">
            Retour
        </a>
    </div>
{% endblock %}
