{% extends 'Log210CommonBundle::layout.html.twig' %}

{% block title 'restaurateur'|trans|capitalize %}

{% block breadcrumbs %}
	{{ parent() }}
	<li><a href="{{ path('restaurateur') }}">{{ 'restaurateur'|trans|capitalize }}</a></li>
{% endblock %}
