{% extends 'layout.html.twig' %}

{% block body -%}
    <h1>Restaurateur creation</h1>

    {{ form(form) }}
    
    <div>
        <a href="{{ path('restaurateur') }}">{{ 'back'|trans|humanize }}</a>
    </div>
{% endblock %}
