{% extends 'Log210CommonBundle::layout.html.twig' %}

{% block title 'menu'|trans|capitalize %}

{% block breadcrumbs %}
    {{ parent() }}
    <li><a href="{{ path('menu') }}">{{ 'menu'|trans|capitalize }}</a></li>
{% endblock %}
