{% block show %}
	<div class="show">
		<h1 class="show-title">{{ entity }}</h1>
		<div class="row">
			<div class="col-md-6">
				{% block fields %}{% endblock %}
			</div>
			<div class="col-md-6">
				{{ block('side') }}
			</div>
		</div>
        <div class="show-action">{% block actions %}{% endblock %}</div>
	</div>
{% endblock %}
