<div class="panel panel-default">
    <div class="panel-heading">
    	<h3 class="panel-title">{{ title|trans|capitalize }}</h3>
    </div>
    <div class="panel-body">
        {% block content %}{% endblock %}
    </div>
</div>