@import "utility.less";

html {
	height: 100%;
}

body {
	background: black;
	height: 100%;
}

#document-wrapper {
	display: flex;
	flex-direction: column;
	background: url('../img/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
    background-position: center;
	height: 100%;
}

.container.container-tall {
	padding-top: 70px;
	background: white;
	height: 100%;
	.box-shadow(0px 0px 42px 10px rgba(0,0,0,0.8););
}

.navbar {
	margin-bottom: 0;

	&.navbar-static-top {
		position: fixed;
		width: 100%;
	}
}

#page-header {
	flex-grow: 0;
}

#page-body {
	flex-grow: 1;
}

#page-footer {
	background: #24272C;
	flex-grow: 0;
}
