@import "utility.less";

.card {
	overflow: hidden;
	position: relative;
	background-color: @card-color;
	border: thin solid darken(@card-color, 4%);

	.card-action {
		z-index: 2;
		display: flex;
		flex-direction: column;
		position: absolute;
		visibility: hidden;
		opacity: 0;
		background-color: rgba(255, 255, 255, 0.7);

		&.card-action-h {
			flex-direction: row;
		}

		&.card-action-right {
	    	.animate-fast(opacity, right);
	    	.transition-add(visibility 0s @transition-duration-fast;);

			top: 0;
			bottom: 0;
			right: -1em;
			border-left: thin solid #fff;
		}
	}

	&:hover .card-action {
		&.card-action-right {
			visibility: visible;
			opacity: 1;
			right: -1px;
			.animate-slow();
		}
	}

	&.card-restaurant {
		padding: 1em;
		height: 200px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	&.card-plat {
		padding: 0.6em;
		margin-bottom: 2px;
	}
}


.btn-card {
	.animate-fast();
	background-color: desaturate(lighten(@light-add, 4%), 7%);
	border: 2px dashed;
	display: flex;
	align-items: center;
	color: desaturate(darken(@light-add, 6%), 7%);

	&.card-plat {
		height: 39px;

		.button-card-content {
			vertical-align: middle;
			.card-icon {
				vertical-align: middle;
				display: inline-block;
				font-size: 2em;
			}

			.card-label {
				vertical-align: middle;
				display: inline-block;
				margin-left: -125px;
			}
		}
	}

	&.card-restaurant {
		.button-card-content {
			.card-icon {
				font-size: 4em;
			}

			.card-label {
				margin-top: -30px;
				font-size: 1.5em;
			}
		}

		height: 200px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.button-card-content {
		flex-grow: 1;
		text-align: center;
	}

	.card-label {
		opacity: 0;
		.animate-fast();
	}

	&:hover, &.hover {
		color: desaturate(darken(@light-add, 12%), 7%);
	}

	&:hover {
		.animate-slow();
		background-color: @light-add;
		text-decoration: none;

		&.card-restaurant {
			.button-card-content {
				.card-label {
					margin-top: 0;
				}
			}
		}

		&.card-plat {
			.button-card-content {
				.card-label {
					margin-left: 0;
				}
			}
		}

		.card-label {
			opacity: 1;
			.animate-slow();
		}
	}
}