{% extends 'Log210OrderBundle:Restaurant:layout.html.twig' %}

{% block content %}
    {% embed 'Log210CommonBundle:Generic:ajaxToolbox.html.twig' with { module: 'commande', fetch: path('commande_api_get_all') } only %}
        {% block content %}
    <div class="address "><input type="text" ng-model="adresseLivreur" class="form-control"  aria-describedby="basic-addon1"></div>
	<div>
        <ul>
            <div ng-repeat="commande in commandes">

                <div >
                    <li style="border-bottom: thin dotted black;margin-top:20px;">
                        <span class="pull-right">{{ "commande.date_heure" |ngExpr}}</span>
                        <a ng-click="calcRoute(commande)" ng-model="adresseLivraison" data-toggle="modal" data-target="#myModal">{{ "commande.adresse" |ngExpr}}</a>
                    </li>
                </div>
            </div>
        </ul>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div >
                    <div id="googleMap" style="width:500px;height:380px;"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a class="btn btn-default glyphicon " ng-click="accepterCommande()" data-dismiss="modal" >{{ 'Accepter'|trans|capitalize }}</a>
                </div>
            </div>
        </div>
    </div>
        {% endblock %}
        {% block controller %}



            var directionsDisplay;
            var directionsService = new google.maps.DirectionsService();
            var map;
            initializeMap();
            var id;

            function initializeMap() {
                directionsDisplay = new google.maps.DirectionsRenderer();
                var mapProp = {
                center:new google.maps.LatLng(48,74),
                zoom:7,
                mapTypeId:google.maps.MapTypeId.ROADMAP
                };
                map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
                directionsDisplay.setMap(map);
            }




            $scope.calcRoute= function (adresseLivraison){
                var start = $scope.adresseLivreur;
                var end = adresseLivraison.adresse;
                id=adresseLivraison.id;
            console.log(start+"-"+end);
                var request = {
                origin:start,
                destination:end,
                travelMode: google.maps.TravelMode.DRIVING
                 };

            directionsService.route(request, function(response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(response);
                    console.log("patate");
                    }
                });
            }

            $scope.accepterCommande=function()
            {
                apiClient.accepterCommande(id, function(){ console.log("patate");});
            }



            $scope.commandes=[];
            $scope.fetchSuccess = function (data) {
                for (objet in data)
                {
                    if (data[objet].etat=="prete" && data[objet].dateHeureLivraison==null)
                    {
                        $scope.commandes.push(data[objet]);
                        console.log(data[objet]);
                    }

                }
            };


        {% endblock %}
    {% endembed %}
{% endblock %}