{% extends 'Log210OrderBundle:Restaurant:layout.html.twig' %}

{% block content %}
    {% embed 'Log210CommonBundle:Generic:ajaxToolbox.html.twig' with { module: 'commande', fetch: path('commande_api_get_all') } only %}
        {% block content %}
    <div class="address "><input type="text" ng-model="address" class="form-control"  aria-describedby="basic-addon1"></div>
	<div>
        <ul>
            <div ng-repeat="commande in commandes">

                <div data-toggle="modal" data-target="#myModal">
                    <li style="border-bottom: thin dotted black;margin-top:20px;">
                        <span class="pull-right">{{ "commande.date_heure" |ngExpr}}</span>
                        <a>{{ "commande.adresse" |ngExpr}}</a>
                    </li>
                </div>
            </div>
        </ul>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div >

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a class="btn btn-default glyphicon "  data-dismiss="modal" >{{ 'Accepter'|trans|capitalize }}</a>
                </div>
            </div>
        </div>
    </div>
        {% endblock %}
        {% block controller %}
            $scope.commandes=[];

            $scope.fetchSuccess = function (data) {
            $scope.commandes = data;
            };


        {% endblock %}
    {% endembed %}
{% endblock %}