{% extends 'Log210OrderBundle:Menu:layout.html.twig' %}

{% block body -%}
    <h1>Menu list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('menu_order_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>
                <td>
                    <a class="glyphicon glyphicon-cd" href="{{ path('menu_order_show', { 'id': entity.id }) }}" rel="tooltip" title="Afficher"></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
