{% extends 'Log210OrderBundle:Dashboard:layout.html.twig' %}

{% block content %}
	<div class="dashboard">
		<div class="row">
			<div class="col-md-6">
				<a href="{{ path('restaurant') }}">{{ 'retaurant'|trans|capitalize }}</a>
				<a href="{{ path('restaurateur') }}">{{ 'restaurateur'|trans|capitalize }}</a>
			</div>
		</div>
	</div>
{% endblock %}
