{% extends 'layout.html.twig' %}

{% block body -%}
    <h1>Modifier Restaurant</h1>
    {{ form(form,{'attr': {'onsubmit':'verifRestaurateur();'} }) }}

    <div>
        <a href="{{ path('restaurant') }}">
            Retour
        </a>


    </div>

{% endblock %}
 
