{% extends 'layout.html.twig' %}

{% block body -%}
    <h1>Ajouter restaurant</h1>

    {{ form(form) }}

        
    <div>
        <a href="{{ path('restaurant') }}">
            Retour
        </a>
    </div>
{% endblock %}
