{% extends 'Log210LivraisonBundle:Restaurant:layout.html.twig' %}

{% use 'Log210CommonBundle:Generic:new.html.twig' %}

{% block title parent() ~ ' - ' ~ 'new'|trans|capitalize %}

{% block breadcrumbs %}
	{{ parent() }}
	<li>{{ 'new'|trans|capitalize }}</li>
{% endblock %}

{% block content block('new') %}
